html{
    background-color: rgb(210, 240, 240);
    font-family:Arial, Helvetica, sans-serif;    
    color: rgb(111, 107, 107);
    text-align: center;
}

#title{
    display: flex;
    justify-content: center;
    font-family:system-ui -apple-system;
    margin-top: 10px;
    color: black;
}

#random_user{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#user_info{
    background-color: rgb(200, 200, 200);
    border: solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 90%;
}

#img1 {
    display: block;
    margin: 0 auto;
    height: 128px;
    border: 2px solid lightslategray;
    padding: 10px;
    margin-top: 10px;
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

footer{
    display: flex;
    justify-content: center;
}

#top{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
}

#img2{
    width:100px;
}